.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header .notification {
    text-align: center;
    background: var(--green);
    color: #fff;
    padding: 10px 0;
    font-size: 12px;
    transition: .3s linear;
}

.notification {
    background: var(--green);
    color: #fff;
    padding: 10px 0;
    font-size: 12px;
    transition: .3s linear;
}

.notification p {
    margin-left: 580px;
	color: #fff;
	font-size: 12px;
	white-space: nowrap;
	overflow: hidden;
	animation: typing 10s steps(30) infinite, blink 1s infinite;
	text-shadow: 0 0 100px #96ee1c;
}

@keyframes typing {
	0%,
	100% {
		width: 0%;
	}
	70%,
	90% {
		width: 450px;
	}
}

@keyframes blink {
	0%,
	100% {
		border-right: 5px solid transparent;
	}
	50% {
		border-right: 5px solid #fff;
	}
}

.header header {
    display: flex;
    justify-content: space-between;
    align-items: center;    
    background: #eee;
    padding: 15px 9%;
}
.header header .menu-icon{
    width: calc(100%/3);
}

.header header .logo-image {
    /* max-width: 200px; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100%/3);
}

.header header .function {
    width: calc(100%/3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7%;
    /* gap: 0 20px; */
}

.header header .function .login{
    font-size: 12px;
}

.header header .icon-header i{
    padding: 12px 14px;
    border-radius: 14px;
    background: #fff;
}
